.about-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.headshot {
    flex-grow: 1;
    max-width: 80%;
    margin: 5%;
    border-radius: 10px;
}

.biography {
    flex-grow: 5;
    text-align: center;
}

.biography h2 {
    margin-bottom: 15px;
}

.about-elab {
    display: flex;
}

.elab-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
}

.elab-links li {
    padding: 10px;
}

.elab-bios {
    flex-grow: 1;
}


/* Media Queries */

@media screen and (min-width: 600px) {
    .about-overview {
        flex-direction: row;
        align-items: flex-start;
    }

    .headshot {
        flex-grow: 1;
        max-width: 34%;
        margin: 3%;
    }

    .biography {
        margin: 5% 2%;
    }
}

@media screen and (min-width: 1000px) {

    .elab-links {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 4%;
        width: unset;
    }

    .elab-links li {
        text-align: center;
        padding: 10px;
        flex-basis: 150px;
    }

}