.about-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.headshot {
    flex-grow: 1;
    max-width: 80%;
    margin: 5%;
    border-radius: 10px;
    align-self: center;
}

.biography {
    flex-grow: 5;
    text-align: center;
    padding: 0 20px;
}

.biography h2 {
    margin-bottom: 15px;
}

.about-elab {
    display: flex;
    padding-bottom: 30px;
}

.elab-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    background-color: #B3C8E9;
}

.elab-links li {
    padding: 10px;
    cursor: pointer;
}

.elab-links li:hover {
    background-color: #38578A;
    color: #e8eff9;
}

.inactive {
    background-color: #B3C8E9;
}

.active {
    background-color: #38578A;
    color: #e8eff9;
}

.elab-bios {
    flex-grow: 1;
    background-color: #38578A;
    color: #e8eff9;
    padding: 10px;
}

.elab-bios a {
    display: inline;
    color: #e8eff9;
}

.elab-bios a:hover {
    font-weight: bold;
}

.elab-bios ul {
    list-style-type: none;
}

.elab-bios ul li {
    margin-top: 10px;
}

.elab-bios ul li:first-of-type {
    margin-top: 5px;
}

.performing, .teaching, .writing, .coding, .activism, .urban-farming {
    display: none;
}


/* Media Queries */

@media screen and (min-width: 600px) {
    .about-overview {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .headshot {
        flex-grow: 1;
        max-width: 34%;
        margin: 3%;
    }

    .biography {
        font-size: 1.25rem;
        margin: 5% 2%;
    }

    .elab-links li {
        font-size: 1.5rem;
        padding: 10px 40px 10px 20px;
    }

    .elab-bios {
        font-size: 1.25rem;
        padding: 20px;
    }
}

@media screen and (min-width: 1000px) {

    .about-elab {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .elab-links {
        flex-direction: row;
        width: 100%;
        flex-basis: 100%;
    }

    .elab-links li {
        text-align: center;
        padding: 10px;
        flex: 1;
    }

    .elab-bios {
        flex-basis: 100%;
        padding: 30px;
    }

}