.blog-post {
    margin: 20px;
}

.blog-post-heading {
    background-color: #38578A;
    color: #e8eff9;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.blog-post-body {
    background-color: #B3C8E9;
    padding: 10px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.blog-post-body img, .caption {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

.caption {
    text-align: center;
    font-size: .85rem;
    padding: 5px;
}

.post-keywords {
    list-style-type: none;
}

.keyword {
    display: inline;
    cursor: pointer;
}

.keyword:hover {
    color: yellow;
}

/* Media Queries */


@media screen and (min-width: 750px) {
    .blog-post img, .caption {
        max-width: 50%;
    }
}

@media screen and (min-width: 1000px) {
}