.blog-post {
    margin: 20px 40px;
}

.blog-post-heading {
    background-color: #557CBA;
    padding: 10px;
}

.blog-post-body {
    background-color: #B3C8E9;
    padding: 20px;
}

.post-keywords {
    list-style-type: none;
}

.keyword {
    display: inline;
}

/* Media Queries */


@media screen and (min-width: 600px) {
    
}

@media screen and (min-width: 1000px) {
    
}