.blog-post {
    margin: 20px;
}

.blog-post-heading {
    background-color: #38578A;
    color: #e8eff9;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.blog-post-body {
    background-color: #B3C8E9;
    padding: 10px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.blog-post img {
    max-width: 90%;
    margin: 0 auto;
}

.post-keywords {
    list-style-type: none;
}

.keyword {
    display: inline;
    cursor: pointer;
}

.keyword:hover {
    color: yellow;
}

/* Media Queries */


@media screen and (min-width: 600px) {
    .blog-post img {
        max-width: 40%;
        margin: 0;
    }
}

@media screen and (min-width: 1000px) {
    
}