.blog-post {
    margin: 20px;
}

.blog-post {
    font-size: 1rem;
}

.blog-post-heading {
    background-color: #38578A;
    color: #e8eff9;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.blog-post-body {
    background-color: #B3C8E9;
    padding: 10px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.blog-post-pic-pair {
    display: flex;
    flex-direction: column;
}

.blog-post-pic {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.blog-post-body img, .caption {
    display: block;
    max-width: 95%;
    margin: 0 auto;
}

.caption {
    text-align: center;
    font-size: .85rem;
    padding: 5px;
}

.post-keywords {
    list-style-type: none;
}

.keyword {
    display: inline;
    cursor: pointer;
}

.keyword:hover {
    color: yellow;
}

/* Media Queries */


@media screen and (min-width: 750px) {
    .blog-post {
        font-size: 1.2rem;
    }
    
    .blog-post-pic-pair {
        display: flex;
        flex-direction: row;
    }

    .paired-text {
        width: 48%;
        margin-right: 2%;
    }

    .blog-post-pic {
        max-width: 50%;
    }

    .caption {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
}