main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main section {
    padding: 5px;  
}

main section h2 {
    margin: 10px 0 5px;
    text-align: center;
}

.no-gigs {
    display: block;
    text-align: center;
    padding: 15px;
}

#events {
    list-style-type: none;
}

.event {
    margin: 10px;
    border-radius: 10px;
}

.event:hover {
    box-shadow: 0 0 5px black;
}

.event-heading {
    background-color: #38578A;
    color: #e8eff9;
    border-radius: 10px;
    cursor: pointer;
}

.event-title, .event-date {
    width: 100%;
}

.event-title {
    padding: 10px;
}

.event-date {
    padding: 0 10px 10px;
    font-size: 1.25rem;
}

.event-description {
    font-size: 1.15rem;
    padding: 0 15px;
    background-color: #B3C8E9;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
}

.connect-contact form {
    padding: 10px;
}

.contact-line {
    display: block;
    margin: 20px 0;
}

.contact-line:first-of-type {
    margin-top: 0;
}

.contact-line label {
    display: block;
    margin-bottom: 5px;
}

#name, #email {
    width: 75%;
    min-height: 1.75rem;
}

.email-status {
    height: 1.75rem;
    vertical-align: bottom;
    margin-left: 3px;
    display: none;
}

.verify {
    font-size: .85rem;
    margin-top: 3px;
    font-style: italic;
}

#message {
    width: 100%;
    height: 200px;
    resize: none;
}

#math-answer {
    margin-top: 5px;
}

.contact-line input[type="submit"] {
    padding: 5px;
    font-size: 1.3rem;
}

/* Media Queries */

@media screen and (min-width: 700px) {
    main {
        flex-direction: row;
    }
    
    main section {
        padding: 10px;
    }

    #event {
        padding: 10px;
    }

    .connect-gigs {
        flex: 1.4;
    }

    .connect-contact {
        flex: 1;
    }
}


@media screen and (min-width: 1000px) {
    #event {
        padding: 20px;
    }
    
    .event-title, .event-date {
        font-size: 1.4rem;
    }

    .event-description {
        font-size: 1.25rem;
    }

}