@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Antic', sans-serif;
}

html {
    background-color: #333333;
}

#wrapper {
    width: 100%;
    background-color: #333333;
}

/* Main Styles */


header {
    background-color: #38578A;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 20vw;
}

#logo {
    flex: 1;
    flex-basis: 100%;
    height: 20vw;
    position: relative;
}

#logo h1 {
    font-size: 7vw;
    font-family: sans-serif;
    font-weight: 500;
    position: absolute;
    right: 8%;
    top: 5.5vw;
}

#logo img {
    position: absolute;
    left: 5%;
    width: 90%;
}

footer {
    width: 100%;
    background-color: #38578A;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

main {
    background-color: white;
    position: relative;
}

main img {
    max-width: 100%;
}

.welcome {
    position: absolute;
    color: white;
    width: 60%;
    padding: 2% 3%;
    top: 10vw;
    right: 4%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
    text-align: center;
}

.welcome h2 {
    margin-bottom: 10px;
}

nav a {
    text-align: center;
    background-color: #B3C8E9;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 1px solid #333333;
    padding: 10px;
}

nav a:hover {
    background-color: #38578A;
    color: #e8eff9;
}

.link-title {
    flex: 1;
}

.link-description {
    flex: 3;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .welcome {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 800px) {

    #logo h1 {
        right: 8%;
    }

    main {
        max-width: 100%;
        background: url(../images/chad-wide.jpg) top/100% no-repeat;
    }

    main img {
        opacity: 0;
    }

    .welcome {
        top: 5vw;
        border-radius: 10px 10px 0 0;
        height: 200px;
        padding: 2% 5%;
    }

    .welcome h2 {
        margin-bottom: 20px;
    }

    nav {
        position: absolute;
        top: 0;
        right: 4%;
        top: 23.75vw;
        width: 60%;
    }

    nav a {
        padding: 0;
        text-align: center;
        background-color: #B3C8E9;
        color: black;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #333333;
        overflow: hidden;
    }

    nav a:last-of-type {
        border-radius: 0 0 10px 10px;
    }

    nav a:hover {
        background-color: #38578A;
        color: #e8eff9;
    }
    
    .link-title {
        margin: 10px;
    }
    
    .link-description {
        max-height: 0;
        padding: 0 20px;
        transition: max-height .3s;
    }
}

@media screen and (min-width: 1000px) {
    
    header {
        min-height: 8vw;
    }

    #wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    #logo {
        height: 200px;
    }

    #logo h1 {
        font-size: 4.4em;
        top: 56px;
        right: 86px;
    }
    
    #logo img {
        position: relative;
        display: block;
        left: unset;
        margin: 0 auto;
    }

    .welcome {
        top: 50px;
        padding: 3% 5%;
    }

    nav {
        top: 240px;
    }

    footer {
        margin: 0 auto;
    }
}