@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Antic', sans-serif;
}

html {
    background-color: #333333;
}

#wrapper {
    width: 100%;
    background-color: #333333;
}

/* Main Styles */


header {
    background-color: #38578A;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 20vw;
}

#logo {
    flex: 1;
    flex-basis: 100%;
    height: 20vw;
    position: relative;
}

#logo h1 {
    font-size: 7vw;
    font-family: sans-serif;
    font-weight: 500;
    position: absolute;
    right: 8%;
    top: 5.5vw;
}

#logo img {
    position: absolute;
    left: 5%;
    width: 90%;
}

footer {
    width: 100%;
    background-color: #38578A;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

main {
    background-color: white;
    position: relative;
}

main img {
    max-width: 100%;
}

.welcome {
    position: absolute;
    color: white;
    width: 60%;
    padding: 5%;
    top: 10%;
    right: 4%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
}

/* Media Queries */


@media screen and (min-width: 600px) {

    #logo h1 {
        right: 7%;
    }

    main {
        max-width: 100%;
        /* height: 100%; */
        background: url(../images/chad-wide.jpg) top/100% no-repeat;
    }

    main img {
        opacity: 0;
    }

    nav {
        position: absolute;
        top: 0;
    }
}

@media screen and (min-width: 1000px) {
    
    header {
        min-height: 8vw;
    }

    #wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    #logo {
        height: 200px;
    }

    #logo h1 {
        font-size: 4.4em;
        top: 56px;
        right: 86px;
    }
    
    #logo img {
        position: relative;
        display: block;
        left: unset;
        margin: 0 auto;
    }

    footer {
        margin: 0 auto;
    }
}