main {
  padding: 20px;
}

main section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.media-video {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.media-video h2 {
  flex-basis: 100%;
}

.video {
  flex-basis: 48%;
  align-self: flex-start;
}

.video:first-of-type {
  margin-bottom: 20px;
}

iframe {
  max-width: 100%;
  margin-bottom: 10px;
}

.video-caption {
  max-width: 560px;
}

.transcription-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.transcription {
  width: 100%;
  margin: 10px auto;
  }

.transcription a {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px grey;
  text-decoration: none;
  color: black;
}

.transcription a:hover {
  box-shadow: 1px 1px 4px black;
}


/* Gallery Styles */

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  width: 100%;
}

.dots {
  text-align: center;
  margin: 5px;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}
  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Media Queries */

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .media-video {
    flex-direction: row;
  }
  
  .transcription-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .transcription {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 1000px) {
}