@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Antic', sans-serif;
}

html {
    background-color: #333333;
}

#wrapper {
    width: 100%;
    background-color: white;
    min-height: 100vh;
}

/* 

Color Scheme

Main: Dark Blue #38578A (off white text)
Secondary: Light Blue #B3C8E9
Tertiary: Medium Blue #557CBA
Accent: Brick Red #be6a52
Secondary Accent: Dark Brown Red #883e31 (off white text)
Off White: #e8eff9
Off Black: #333333 (off white text)

*/

/* Main Styles */

header {
    background-color: #38578A;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    flex: 1;
    flex-basis: 100%;
    height: 20vw;
    position: relative;
}

#logo h1 {
    font-size: 6vw;
    font-family: sans-serif;
    font-weight: 500;
    position: absolute;
    right: 24vw;
    top: 6.5vw;
}

#logo img {
    position: absolute;
    width: 80%;
    padding: 10px;
}

nav {
    flex: 1;
    flex-basis: 100%;
    transition: height .2s;
    height: 0;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

nav li {
    padding: 5px 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    border-bottom: solid transparent 2px;
    transition: border-bottom .3s;
}

nav a:hover {
    border-bottom: solid white 2px;
}

#hamburger-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 12px 0;
}

#hamburger-icon:hover {
    cursor: pointer;
}

.line {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
    transition: height .5s;
    transition: transform .3s;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    #logo h1 {
        font-size: 7vw;
        top: 6vw;
        right: 9vw;
    }
    
    #logo img {
        left: 5%;
        width: 90%;
    }

    nav {
        height: unset;
    }
    
    nav ul {
        flex-direction: row;
        margin: 0;
    }
    
    nav li {
        padding: 10px;
    }

    nav a {
        font-size: 1.5em;
    }

    #hamburger-icon {
        display: none;
    }

}

@media screen and (min-width: 1000px) {

    #wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    #logo {
        height: 200px;
    }

    #logo h1 {
        font-size: 4.4em;
        top: 60px;
        right: 86px;
    }
    
    #logo img {
        position: relative;
        display: block;
        left: unset;
        margin: 0 auto;
    }

}