* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
}

/* Main Styles */

/* Color Scheme

Main: Medium Blue #557CBA
Secondary: Light Blue #B3C8E9
Tertiary: Dark Blue #003D6B (off white text)
Accent: Brick Red #be6a52
Secondary Accent: Dark Brown Red #883e31 (off white text)
Off White: #e8eff9
Off Black: #333333 (off white text)

*/

/* Media Queries */

@media screen and (min-width: 570px) {

}

@media screen and (min-width: 1000px) {
   
}